<html>
  <head>
    <title>Contact</title>
  </head>

  <body>
    <header>
<!-- Liens vers la pages team -->     
      <a href="http://localhost:3000/static_page/team">Lien vers la page contact</a>
    </header>
    <br><br>
    <h1>Hello there!</h1>
    <br><br>
    <p>Voici du petit text ici!</p>
  </body>
</html>
