<html>
  <head>
    <title>team</title>
  </head>

  <body>
    <header>
<!-- Liens vers la pages contact -->     
      <a href="http://localhost:3000/static_page/contact">Lien vers la page team</a>
    </header>
    <br><br>
    <h1>Une page</h1>
    <br><br>
    <p>test</p>
  </body>
</html>